name: CI - Build and Test

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  integration:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Integration Tests
        run: |
          docker compose up --build --exit-code-from tests
      
      - name: Tear Down
        if: always()
        run: docker compose down -v