name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  integration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Verify tools
        run: |
          make --version
          docker compose version

      - name: Run Integration Tests
        run: make test

      - name: Cleanup
        if: always()
        run: make down